/*Font Setup*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #cbd5e1;
}

.monserrat-bold {
  font-weight: 600;
}

/*Html Styling*/

.main-container {
  display: grid;
  grid-template-areas:
    "navbar"
    "search-section"
    "content"
    "footer";
  grid-template-rows: 70px 100px 1fr 40px;
  min-height: 100vh;
}

nav {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 2rem;
  margin-left: 1.5rem;
}

.menu-icon {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-right: 1.5rem;
}

.menu-icon:hover {
  cursor: pointer;
  color: #64748b;
}

.category-list ul {
  display: none;
}

.search-section {
  grid-area: search-section;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.search-section input {
  height: 32px;
  width: 60%;
  max-width: 400px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  padding-left: 10px;
  font-size: 0.8rem;
}

.search-section input:focus {
  outline: 2px solid #818cf8;
  outline-offset: 1px;
}

.search-section select {
  height: 32px;
  width: 25%;
  max-width: 400px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  outline: 1px solid white;
  border-left: 1px solid #818cf8;
  padding-left: 10px;
  font-size: 0.8rem;
  color: #475569;
}

.search-section select:focus {
  outline: 2px solid #818cf8;
  outline-offset: 1px;
}

.content {
  /* background-color: blueviolet; */
  grid-area: content;
  background-color: #ffffff;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.car-grid {
  /* outline: 1px solid black; */
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card {
  width: 93%;
  outline: 2px solid #e0e7ff;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  outline: 4px solid #e0e7ff;
}

.product-title {
  padding: 0;
  margin: 0;
}

.product-image {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-price-flexbox {
  display: flex;
  flex-direction: column;
}

.product-price-flexbox p {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.btn-buy {
  background-color: #6366f1;
  color: #ffffff;
  height: 2.5rem;
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}

.btn-buy:hover {
  outline: 2px solid #c7d2fe;
  outline-offset: 2px;
  cursor: pointer;
}

.paginator {
  margin: 2rem 0 2rem 0;
}

.paginator ul {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.paginator ul li {
  padding: 0.5rem;
  min-width: 18px;
  min-height: 18px;
  text-align: center;
  border-radius: 5px;
  /* outline: 1px solid #cbd5e1; */
  background-color: #f8fafc;
  color: #9ca3af;
}

.paginator ul li:hover {
  background-color: #c7d2fe !important;
  color: white !important;
  cursor: pointer;
}

.active-page {
  background-color: #818cf8 !important;
  color: white !important;
  font-weight: 700;
  outline: none !important;
}

.change-page {
  background-color: #e0e7ff !important;
  color: #6366f1 !important;
  outline: none !important;
}

footer {
  /* background-color: brown; */
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @Media Queries */

@media (min-width: 576px) {
  .main-container {
    display: grid;
    grid-template-areas:
      "navbar search-section"
      "navbar content"
      "navbar footer";
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: minmax(180px, 1fr) 9fr;
    min-height: 100vh;
  }

  .content {
    border-top-left-radius: 4rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4rem;
  }

  nav {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  nav h1 {
    font-size: 1.6rem;
    margin-left: 1rem;
  }

  .menu-icon {
    display: none;
  }

  .category-list ul {
    display: block;
    list-style-type: none;
    padding: 1rem;
  }

  .category-list ul li a {
    text-decoration: none;
    color: #64748b;
  }

  .category-list ul li a:hover {
    color: #6366f1;
    text-decoration: underline;
  }

  .search-section {
  }

  .search-section input {
    height: 32px;
    width: 60%;
    max-width: 400px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    padding-left: 10px;
    font-size: 0.8rem;
  }

  .search-section select {
    height: 32px;
    width: 25%;
    max-width: 150px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    outline: 1px solid white;
    border-left: 1px solid #818cf8;
    padding-left: 10px;
    font-size: 0.8rem;
    color: #475569;
  }

  .car-grid {
    /* outline: 1px solid black; */
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
